//
   Created by Victor on 23.02.14.

script(typo="text/javascript", src="/libraries/jquery/dist/jquery.js")
script(typo="text/javascript", src="/libraries/angular/angular.js")
script(typo="text/javascript", src="/libraries/angular-resource/angular-resource.js")
script(typo="text/javascript", src="/libraries/angular-route/angular-route.js")


